
@{
    ViewData["Title"] = "Емоції під час війни";
}
    <div class="container" style="background: #ffffff">

        <h1><b>Коливання настрою — це нормально: психологія воєнного часу та як це працює</b></h1>

        <div>
            <img width="592" height="328"  src="https://vikna.tv/wp-content/uploads/2022/03/05/vidchaj-rozpach-792x528.jpg" alt="Відчай, розпач" sizes="(max-width: 592px) 100vw, 592px">
        </div>
        <div>
            <p>
                <span style="font-weight:400">
                    Ментальний стан українців зараз не дуже стабільний: ми перебуваємо в ненормальних обставинах. Така нестабільність – нормальна реакція на ненормальні обставини. Перепади емоційних станів під час війни це типово. Питання в тому, як ми діємо та повертаємо себе до раціонального стану.
                </span>
            </p>

            <p>
                У емоційних хвиль є певна послідовність, звісно, кожна людина має свою специфіку. Протягом дня можуть відбутися персональні зміни настрою, коли спочатку людині сумно, потім тривожно, потім відчуває злість. Але, якщо розглядати середній стан суспільства, емоції чергуються в такий спосіб:
            </p>
            <ul>
                <li>розгубленість</li>
                <li>тривога, страх, паніка</li>
                <li>агресія, роздратування</li>
                <li>ейфорія</li>
                <li>апатія, депресивні симптоми</li>
            </ul>
            <p>
                Апатія, втома та депресивні симптоми зазвичай припадають приблизно на 10-й день тривалого сильного стресу. Тож можна припустити, що українці нині перебувають десь на цій стадії. «Паралельно у тих, хто поїхав, може виникнути вина вцілілого: «Я в безпеці, доки хтось ризикує життям».
            </p>
            <p>
                Після етапу апатії ми виходимо фазу стабілізації. Емоційні хвилі повторюватимуться, але оскільки ми з ними вже знайомі, вони проходитимуть більш м'яко. Що відбувається у період адаптації? Ми думаємо, що буде далі, як діяти у новій реальності, звикаємо до невизначеності і все одно будуємо плани на майбутнє. Усвідомлюємо, що все змінилося і треба жити відповідно до нових умов.
            </p>
            <p>
                Дуже важливо вийти на фазу адаптації, в якій ми діятимемо раціонально, усвідомлено та стабільніше. «Пам'ятаємо: нам потрібно не тільки виживати, а й жити під час війни, заробляти гроші, платити податки – Після війни ми також матимемо багато роботи – відновлювати все, що було зруйновано».
            </p>            
            <h5><b>Універсальні поради з управління емоціями</b></h5>
            <p>
                Головне – пам'ятайте: ваші емоції є нормальними. Аналізуйте, що саме з вами відбувається, яку емоцію ви відчуваєте та допомагайте один одному. Саме зараз дуже важливо бути у суспільстві, якщо це можливо. Тоді буде легше нагадати іншому: «На мою думку, ти зараз на стадії дратівливості. Але давай подумаємо, чи це на мене чи на війну і на Путіна, який цю війну розв'язав?».
            </p>
            <p>
                Плануйте. Корисно буде планувати день та прописувати рутину. Не обов'язково у форматі розкладу часу, адже план залежить від умов, в яких ви знаходитесь. Умовно ви можете запланувати, що після пробудження відразу підете чистити зуби, а не лежатимете в ліжку годину, гортаючи стрічку новин.
            </p>
            <p>
                Пам'ятайте про власні цінності. Вони допомагають триматися і робити свою справу, незважаючи ні на що. Навіть у стані апатії, який зараз для нас найбільш актуальний, важливо робити те, що ми запланували. Навіть якщо цінності не видно, вони є, не зникають. Це те, що ми живемо.
            </p>
            <h3><b>Як керувати почуттями в різних фазах «емоційних гойдалок»</b></h3>
            <h4><b>Фаза депресивних симптомів</b></h4>
            <p>
                Це найважчий етап: у ньому можна надовго застрягти. Депресивні симптоми – абсолютно фізіологічна та нормальна фаза, тому що у нас вичерпуються нейромедіатори та сили.

                У стратегії подолання апатії важливим є баланс двох компонентів. З одного боку, якщо це можливо, потрібно поспати, помитися, поїсти та відпочити. З іншого боку – не потрібно плутати відпочинок з бажанням лягти в кут і дивитися в стінку. Відпочили, поспали та пішли робити справи.

                Важливо не залишатися в апатії, не заглиблюватись у неї. Якщо ви бачите, що вам нічого не хочеться, крім як звернутися калачиком, не чекайте мотивації та моменту, коли нарешті захочеться. Натомість потрібно по будильнику робити прості корисні завдання, які допоможуть подбати про себе та близьких: помити посуд, приготувати їжу, причесатися, вмитися.

                Необхідно також витягувати із апатичних станів близьких. Допоможе формула: «Я розумію, що ти не хочеш, але, будь ласка, помий посуд – крім тебе нікому. Ти зробиш це завдання – і тобі полегшає».

                Варто робити хто що вміє: хто консультує, хто готує вечерю, хто, умовно, танк миє. Це дає почуття корисності та причетності до спільноти.
            </p>
            <h4><b>Фаза паніки, тревоги, страху</b></h4>
            <p>
                Корисно буде опанувати дихальні вправи і спробувати дихати «квадратом»: вдих на чотири рахунки, пауза на чотири рахунки, видих на чотири рахунки, пауза на чотири рахунки. Психологи також рекомендують пити воду та спілкуватися з близькими.

                Окремий сценарій стане в нагоді, якщо людина перебуває в кризовому та шоковому стані, коли емоції зашкалюють. «Одне із завдань у разі таких гострих емоцій – не обговорювати емоційний стан, не ставити запитання на кшталт «Що ти зараз відчуваєш?» Це дуже важливо". Що допоможе?

                Фізичні вправи:
            </p>
            <ul>
                <li>
                    коли емоції зашкалюють, зробіть дихальну вправу з акцентом на подовжений видих. Це буде ефективним і у сильному стресі, і помірному;
                </li>
                <li>
                    якщо людину поруч із вами чи вас самих буквально трясе від стресу, піхологи радить не зупиняти це, а навпаки усвідомлено посилити. «Якщо, скажімо, трохи трясуться руки, треба потрясти їх із самого плеча. Так само і з ногами, і з плечами – образно кажучи, так ми намагаємось витрусити стрес».
                </li>
            </ul>
            <p>
                Шторм емоцій та стрес можуть залишити після себе відчутну м'язову напругу та спазм. Щоб боротися з цим, можна зробити вправи щодо прогресивної м'язової релаксації. Для цього треба спочатку вдихнути неглибоко, напружити тіло на вдиху, затримати дихання та напругу на 2-3 секунди, а потім з видихом відпустити. Це допомагає розслабитися і заснути, якщо у вас проблеми зі сном;
            </p>
            <h4><b>Фаза роздратування</b></h4>
            <p>
                «Злість – дуже сильна та корисна емоція. Важливо направити її раціонально», – наголошують психологи. Це означає не злитися на родичів, які сидять поруч у бункері, а подумати, що можна зробити, використавши злість: наприклад, допомогти рити окоп, дотягнути їжака до середини вулиці, рознести воду всім у сховищі. Злість – у сенсі сила. Завдання – нагадати собі про це і зробити з цієї сили щось корисне, поки воно є.
            </p>
            <h4><b>Фаза ейфорії</b></h4>
            <p>
                Фаза ейфорії не триватиме довго, і її важливо використовувати конструктивно. Боротися із нею не варто. Єдине – у стані ейфорії треба критично аналізувати користь від своїх дій.
            </p>
        </div>
    </div>