
@{
    ViewData["Title"] = "Емоції під час війни";
}
    <div class="container" style="background: #ffffff">

        <h1><b>Коливання настрою — це нормально: психологія воєнного часу та як це працює</b></h1>

        <div>
            <img width="592" height="328"  src="https://vikna.tv/wp-content/uploads/2022/03/05/vidchaj-rozpach-792x528.jpg" alt="Відчай, розпач" sizes="(max-width: 592px) 100vw, 592px">
        </div>
        <div>
            <p>
                <span style="font-weight:400">
                    Ментальное состояние украинцев сейчас не очень стабильно: мы находимся в ненормальных обстоятельствах», – говорит психолог Оксана Ефремова. Такая нестабильность – нормальная реакция на ненормальные обстоятельства. Перепады эмоциональных состояний во время войны – это типично. Вопрос в том, как мы действуем и возвращаем себя к рациональному состоянию
                </span>
            </p>

            <p>
                У эмоциональных волн есть определенная последовательность, объясняет Ефремова. «Конечно, у каждого человека есть своя специфика», – добавляет психолог. В течение дня могут произойти персональные изменения настроения, когда сначала человеку грустно, потом тревожно, потом он чувствует злобу. Но, если рассматривать среднее состояние общества, эмоции чередуются следующим образом:
            </p>
            <ul>
                <li>растерянность</li>
                <li>тревога, страх, паника</li>
                <li>злость, раздражение</li>
                <li>эйфория</li>
                <li>апатия, депрессивные симптомы</li>
            </ul>
            <p>Апатия, усталость и депрессивные симптомы обычно приходятся примерно на 10-й день длительного сильного стресса. Так что можно предположить, что украинцы сейчас находятся более или менее где-то на этой стадии. «Параллельно у тех, кто уехал, может возникнуть вина уцелевшего: «Я в безопасности, пока кто-то рискует жизнью», – предупреждает Ефремова.</p>
            <p>После этапа апатии мы выходим на фазу стабилизации. «Эмоциональные волны будут повторяться, но поскольку мы с ними уже знакомы, они будут проходить более мягко», – говорит Ефремова. Что происходит в период адаптации? Мы думаем, что будет дальше, как действовать в новой реальности, привыкаем к неопределенности и все равно строим планы на будущее. Осознаем, что все изменилось и нужно жить в соответствии с новыми условиями.</p>
            <p>Очень важно выйти на фазу адаптации, в которой мы будем действовать рационально, осознанно и более стабильно. «Помним: нам нужно не только выживать, но и жить во время войны, зарабатывать деньги, платить налоги, – отмечает Ефремова. – После войны у нас также будет много работы – восстанавливать все, что было разрушено».</p>
            <h5><b>Универсальные советы по управлению эмоциями</b></h5>
            <p>Главное – помните: ваши эмоции нормальны. Анализируйте, что именно с вами происходит, какую эмоцию вы испытываете и помогайте друг другу. «Именно сейчас очень важно быть в обществе, если это возможно», – подчеркивает психолог. Тогда будет легче напомнить другому: «По-моему, ты сейчас на стадии раздражительности. Но давай подумаем, на меня ли это или на войну и на Путина, который эту войну развязал?».</p>
            <p>Планируйте. Полезно будет планировать день и прописывать рутину. Не обязательно в формате расписания по времени, ведь план зависит от условий, в которых вы находитесь. Условно вы можете запланировать, что после пробуждения сразу пойдете чистить зубы, а не будете лежать в постели час, листая новостную ленту.</p>
            <p>Помните о собственных ценностях. Они помогают держаться и делать свое дело, несмотря ни на что. «Даже в состоянии апатии, которое сейчас для нас наиболее актуально, важно делать то, что мы запланировали, – говорит психолог. – Даже если ценности не видны, они есть, они не исчезают. Это то, чем мы живем.</p>
            <h3><b>Как управлять чувствами в разных фазах «эмоциональных качелей»</b></h3>
            <h4><b>Фаза депрессивных симптомов</b></h4>
            <p>
                Это самый тяжелый из этапов: в нем можно надолго застрять. «Депрессивные симптомы – абсолютно физиологическая и нормальная фаза, потому что у нас иссякают нейромедиаторы и силы», – говорит психолог.

                В стратегии преодоления апатии важен баланс двух компонентов. С одной стороны, если это возможно, нужно поспать, помыться, поесть и отдохнуть. С другой – не нужно путать отдых с желанием лечь в угол и смотреть в стенку. «Отдохнули, поспали и пошли делать дела», – призывает Ефремова.

                Важно не оставаться в апатии, не углубляться в нее. «Если вы видите, что вам ничего не хочется, кроме как свернуться калачиком, не ждите мотивации и момента, когда наконец-то захочется», – отмечает психолог. Вместо этого нужно по будильнику делать простые полезные задачи, которые помогут позаботиться о себе и близких: помыть посуду, приготовить еду, причесаться, умыться.

                Необходимо также вытаскивать из апатических состояний близких. Поможет формула: «Я понимаю, что ты не хочешь, но, пожалуйста, помой посуду – кроме тебя некому. Ты сделаешь эту задачу – и тебе станет легче».

                «Стоит делать кто что умеет: кто консультирует, кто готовит ужин, кто, условно, танк моет», – добавляет психолог. Это дает чувство полезности и причастности к сообществу.
            </p>
            <h4><b>Фаза паники, тревоги, страха</b></h4>
            <p>
                Полезно будет овладеть дыхательными упражнениями и попытаться дышать «квадратом»: вдох на четыре счета, пауза на четыре счета, выдох на четыре счета, пауза на четыре счета. Ефремова также рекомендует пить воду и общаться с близкими.

                Отдельный сценарий пригодится, если человек находится в кризисном и шоковом состоянии, когда эмоции зашкаливают. «Одна из задач в случае таких острых эмоций – не обсуждать эмоциональное состояние, не задавать вопросы типа «Что ты сейчас чувствуешь?» Это очень важно», – отмечает Ефремова. Что поможет?

                Физические упражнения:
            </p>
            <ul>
                <li>когда эмоции зашкаливают, сделайте дыхательное упражнение с акцентом на удлиненный выдох. Это будет эффективным и в сильном стрессе, и в умеренном;</li>
                <li>если человека рядом с вами или вас самих буквально трясет от стресса, Ефремова советует не останавливать это, а наоборот осознанно усилить. «Если, скажем, немного трясутся руки, надо потрясти их с самого плеча. Так же и с ногами, и с плечами – образно говоря, так мы стараемся вытряхнуть стресс».</li>
            </ul>
            <p>Шторм эмоций и стресс могут оставить после себя ощутимое мышечное напряжение и спазм. Чтобы бороться с этим, можно сделать упражнения по прогрессивной мышечной релаксации. Для этого надо сначала вдохнуть неглубоко, напрячь тело на вдохе, задержать дыхание и напряжение на 2-3 секунды, а затем с выдохом отпустить. Это помогает расслабиться и уснуть, если у вас есть проблемы со сном;</p>
            <h4><b>Фаза раздражения</b></h4>
            <p>«Злость – очень сильная и полезная эмоция. Важно направить ее рационально», – подчеркивает Ефремова. Это значит не злиться на родственников, сидящих рядом в бункере, а подумать, что можно сделать, использовав злобу: например, помочь рыть окоп, дотянуть ежа до середины улицы, разнести воду всем в укрытии. Злость – в известном смысле сила. Задача – напомнить себе об этом и сделать из этой силы что-нибудь полезное, пока она есть.</p>
            <h4><b>Фаза эйфории</b></h4>
            <p>
                Фаза эйфории не продлится долго, и ее важно использовать конструктивно. Бороться с ней не стоит. Единственное, на что обращает внимание Ефремова, – в состоянии эйфории надо критически анализировать пользу от своих действий.
            </p>
        </div>
    </div>