@{
    ViewData["Title"] = "Допомога ЗСУ";
}


    <div class="container" style="background: #EEEEEE">
        <h1>@ViewData["Title"]</h1>

        <div>
            <img width="100%" src="https://armyinform.com.ua/wp-content/uploads/2022/03/275134955_2100931646732533_265737250493607521_n.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="">
        </div>
        <p>До уваги небайдужих громадян, підприємств, організацій та нерезидентів, які бажають надати фінансову підтримку Збройним Силам України. Перерахувати кошти на матеріально-технічне та медичне забезпечення армії можна на реквізити Міністерства оборони України.</p>
        <p><strong>Одержувач:</strong> Міністерство оборони України;</p>
        <p><strong>Код ЄДРПОУ:</strong> 00034022;</p>
        <p><strong>Банк: </strong>Державна казначейська служба України, м.Київ;</p>
        <p><strong>Код банку МФО:</strong> 820172;</p>
        <p><strong>Реєстраційні рахунки</strong>: <strong>UA458201720313281002302018611&nbsp;</strong>— Для потреб Збройних Сил України.</p>
        <hr />
        <p><strong>Фонд "Повернись живим":</strong> <a href="https://savelife.in.ua/donate/">Зробити внесок</a></p>
    </div>
