@{
    ViewData["Title"] = "Головна";
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager


@if (User.Identity.IsAuthenticated)
{
    <p>
        @User.Identity.Name
        @UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.Name
    </p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Вихід" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вхід</a>
    <a asp-controller="Account" asp-action="Register">Реєстація</a>
}