@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-white">Привіт, @UserManager.FindByNameAsync(UserManager.GetUserName(User)).Result.Name!</a>
            </li>
            <li class="nav-item">
                <form method="post" asp-controller="Account" asp-action="Logout" asp-route-return-Url="@Url.Action("Index","Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-white">Вийти</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-white" id="register" asp-controller="Account" asp-action="Register">Реєстація</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" id="login" asp-controller="Account" asp-action="Login">Вхід</a>
            </li>
        }
    </ul>